.chat-container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 max-width: 1000px;
 height: 800px;
 padding: 15px;
 border: 1px solid #ccc;
 border-radius: 10px;
 overflow: hidden;
 background: #f9f9f9;
}

.chat-messages {
 width: 1000px;
 overflow: scroll;
 height: 600px;
 padding: 25pt;
 display: flex;
 border: solid skyblue;
 border-radius: 17pt;
 flex-direction: column;
 gap: 15px;
 background: #f9f9f9;
}

.message {
 max-width: 45%;
 padding: 8px 12px;
 border-radius: 8px;
 word-wrap: break-word;
}

.message.user {
 background: blue;
 align-self: flex-end;
 color: white;
}

.message.other {
 align-self: flex-start;
 background-color: red;
 color: yellow;
}