

.chat-messages {
 width: 1000px;
 overflow-y: auto;
 height: 600px;
 padding: 25pt;
 display: flex;
 border: solid black;
 border-radius: 7pt;
 flex-direction: column;
 gap: 15px;
 background: #f9f9f9;
 scroll-behavior: smooth;
}

.message {
 max-width: 45%;
 padding: 8px 12px;
 border-radius: 8px;
 word-wrap: break-word;
}

.message.user {
 background: blue;
 align-self: flex-end;
 color: white;
}

.message.other {
 align-self: flex-start;
 background-color: red;
 color: yellow;
}