.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.container-content {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20pt;
  min-height: 100vh;
}
