.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.container-content {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}